

body {
  font-family: Arial, sans-serif;
  background-color: #f7f9fc;
  margin: 0;
  padding: 0;
}

h1, h2 {
  text-align: center;
  color: #333;
  margin: 20px 0;
}

.container {
  width: 80%;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-table {
  width: 100%;
  border-collapse: collapse; 
  margin: 20px 0;
}

.product-table th, .product-table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: center;
}

.product-table th {
  background-color: #f4f4f4;
  color: #333;
  font-weight: bold;
}

.product-table td {
  color: #555;
}

.product-table tr:nth-child(even) {
  background-color: #f9f9f9; 
}

.product-table tr:hover {
  background-color: #f1f1f1; 
}


form {
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(190, 29, 29, 0.05);
  text-align: center;
}

form input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

form button {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form button:hover {
  background-color: #218838;
}



.modal {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  margin: 0 auto;
  position: relative;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-modal-button {
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.close-modal-button:hover {
  background-color: #c82333;
}

.modal-button{
  padding: 10px 20px;
  margin: 10px;
  background-color: #007;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}